<nav class="navbar navbar-expand-md navbar-light bg-light mb-0" >
        <div class="container">
                <a href="index.html " class="navbar-brand">
                    <h3 class="d-inline align-middle">Discover MN</h3>
                    <img src="img/mn-icon.png" width="50" height="50" alt="">
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item px-2">
                            <a href="#" class="nav-link"><i class="fa fa-home"></i>HOME</a>
                        </li>
                        <li class="nav-item px-2">
                            <a href="#" class="nav-link"><i class="fas fa-dollar-sign"></i> FORTUNE 500</a>
                        </li>
                        <li class="nav-item px-2">
                            <a href="#!/visit" class="nav-link"><i class="fa fa-map-marker"></i> PLACES TO GO</a>
                        </li>
                        <li class="nav-item px-2 active">
                            <a href="#!/events" class="nav-link"><i class="fa fa-calendar"></i> EVENTS</a>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>

    <!-- EVENTS HEADER -->
    
    <section id="events-header" class="p-5 mt-0" >
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h1 class=""><strong>Upcoming Events</strong></h1>
                </div>
            </div>
        </div>
    </section>

    