<nav class="navbar navbar-expand-md navbar-light bg-light mb-0" >
        <div class="container">
                <a href="index.html " class="navbar-brand">
                    <h3 class="d-inline align-middle">Discover MN</h3>
                    <img src="img/mn-icon.png" width="50" height="50" alt="">
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item px-2">
                            <a href="#" class="nav-link"><i class="fa fa-home"></i>HOME</a>
                        </li>
                        <li class="nav-item px-2 active">
                            <a href="#" class="nav-link"><i class="fas fa-dollar-sign"></i> FORTUNE 500</a>
                        </li>
                        <li class="nav-item px-2">
                            <a href="#!/visit" class="nav-link"><i class="fa fa-map-marker"></i> PLACES TO GO</a>
                        </li>
                        <li class="nav-item px-2">
                            <a href="#!/events" class="nav-link"><i class="fa fa-calendar"></i> EVENTS</a>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>

    <!-- FORTUNE HEADER -->
    
    <section id="fortune-header" class="p-5 mt-0" >
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h1 class=""><strong>Minnesota's Fortune 500</strong></h1>
                </div>
            </div>
        </div>
    </section>

    <!-- CONTENT SECTION -->
    
    <section id="fortune-content" class="mt-5">
        <div class="container">
            <div class="row">
                   
                <div class="col-md-4 mt-3 text-center">
                    <img src="//logo.clearbit.com/target.com?size=250" alt="" class="img-fluid rounded-circle" 
                    data-toggle="tooltip" 
                    data-placement="top" 
                    data-html="true" 
                    title="<p><strong>Founded:</strong> Roseville, MN 1962</p><p><strong>Market Value:</strong> $132B</p><p><strong>NYSE:TGT Mar-20:</strong> $71.52USD</p>">
                    <h5 class="text-muted">Target</h5>
                </div>
                <div class="col-md-4 mt-3 text-center">
                    <img src="//logo.clearbit.com/bestbuy.com?size=250" alt="" class="img-fluid rounded-circle"
                    data-toggle="tooltip" 
                    data-placement="top" 
                    data-html="true" 
                    title="<p><strong>Founded:</strong> West Saint Paul, MN 1983</p><p><strong>Market Value:</strong> $39.4B</p><p><strong>NYSE:BBY Mar-20:</strong> $70.06USD</p>"
                    >
                    <h5 class="text-muted mt-3">BestBuy</h5>
                </div>
                <div class="col-md-4 mt-3 text-center">
                    <img src="//logo.clearbit.com/chrobinson.com?size=250" alt="" class="img-fluid rounded-circle"
                    data-toggle="tooltip" 
                    data-placement="top" 
                    data-html="true" 
                    title="<p><strong>Headquarted:</strong> Eden Prairy, MN 1905</p><p><strong>Net Income:</strong> $356M</p><p><strong>NASDAQ:CHRW Mar-20:</strong> $93.42USD</p>"
                    >
                    <h5 class="text-muted mt-3">CH Robinson</h5>
                </div>
                <div class="col-md-4 mt-3 text-center">
                    <img src="//logo.clearbit.com/usbank.com?size=250" alt="" class="img-fluid rounded-circle"
                    data-toggle="tooltip" 
                    data-placement="top" 
                    data-html="true" 
                    title="<p><strong>Headquarted:</strong> Minneapolis, MN 1968</p><p><strong>Net Income:</strong> $6B</p><p><strong>NYSE:USB Mar-20:</strong> $52.7USD</p>"
                    >
                    <h5 class="text-muted">USBank</h5>
                </div>
                <div class="col-md-4 mt-3 text-center">
                    <img src="//logo.clearbit.com/unitedhealthgroup.com?size=250" alt="" class="img-fluid rounded-circle"
                    data-toggle="tooltip" 
                    data-placement="top" 
                    data-html="true" 
                    title="<p><strong>Headquarted:</strong> Minnetonka, MN 1977</p><p><strong>Net Income:</strong> $11B</p><p><strong>NYSE:UNH Mar-20:</strong> $22.60USD</p>"
                    >
                    <h5 class="text-muted mt-3">United Health Care Group</h5>
                </div>
                <div class="col-md-4 mt-3 text-center">
                    <img src="//logo.clearbit.com/landolakesinc.com?size=250" alt="" class="img-fluid rounded-circle"
                    data-toggle="tooltip" 
                    data-placement="top" 
                    data-html="true" 
                    title="<p><strong>Headquarted:</strong> Arden Hills, MN 1921</p><p><strong>Revenue:</strong> $14B</p><p><strong>Private</strong></p>"
                    >
                    <h5 class="text-muted mt-3">Land O'Lakes Inc.</h5>
                </div>
                <div class="col-md-4 mt-3 text-center">
                    <img src="//logo.clearbit.com/saintjudehospice.org?size=250" alt="" class="img-fluid rounded-circle"
                    data-toggle="tooltip" 
                    data-placement="top" 
                    data-html="true" 
                    title="<p><strong>Founded:</strong> Saint Paul, MN 1976</p><p><strong>Net Income:</strong> $5.6B</p><p><strong>Bought by ABBOTT for $25B</strong> </p>"
                    >
                    <h5 class="text-muted">Saint Jude Hospice</h5>
                </div>
                <div class="col-md-4 mt-3 text-center">
                    <img src="//logo.clearbit.com/generalmills.com?size=250" alt="" class="img-fluid rounded-circle"
                    data-toggle="tooltip" 
                    data-placement="top" 
                    data-html="true" 
                    title="<p><strong>Founded:</strong> Minneapolis, MN 1856</p><p><strong>Net Income:</strong> $1.6B</p><p><strong>NYSE:GIS Mar-20:</strong> $49.93USD</p>"
                    >
                    <h5 class="text-muted">General Mills</h5>
                </div>
                <div class="col-md-4 mt-3 text-center">
                    <img src="../img/3m-n.png" alt="" class="img-fluid rounded-circle"
                    data-toggle="tooltip" 
                    data-placement="top" 
                    data-html="true" 
                    title="<p><strong>Founded:</strong> MappleWood, MN 1902</p><p><strong>Net Income:</strong> $5B</p><p><strong>NYSE:MMM Mar-20:</strong> $232USD</p>"
                    >
                    <h5 class="text-muted">3M</h5>
                </div>
                
            </div>
        </div>
    </section>

    <!-- SLIDER SECTION -->

    <section id="slider-section" class=" bg-warning text-white mt-5 pb-auto px-5">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="slider">
                            <div>
                                <div class="row">
                                    <div class="col-md-12 text-center pt-3">
                                        <img src="//logo.clearbit.com/ecolab.com?size=130" alt="" class="img-fluid rounded-circle mb-3 d-inline">
                                        <!-- <h1 class="d-inline"><strong>ECOLAB</strong></h1> -->
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-12 text-center pt-3">
                                        <img src="//logo.clearbit.com/xcelenergycenter.com?size=130" alt="" class="img-fluid rounded-circle mb-3 d-inline mt-0 mx-0 p-0">
                                        <!-- <h1 class="d-inline"><strong>XcelEnergy</strong></h1> -->
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-12 text-center pt-3">
                                        <img src="//logo.clearbit.com/joinmosaic.com?size=95" alt="" class="img-fluid rounded-circle mb-3 d-inline">
                                        <h1 class="d-inline"><strong>MOSAIC</strong></h1>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-12 text-center pt-3">
                                        <img src="//logo.clearbit.com/thrivent.com?size=95" alt="" class="img-fluid rounded-circle mb-3 d-inline">
                                        <h1 class="d-inline"><strong>Thrivent Financial</strong></h1>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-12 text-center pt-3">
                                        <img src="//logo.clearbit.com/hormelfoods.com?size=95" alt="" class="img-fluid rounded-circle mb-3 d-inline">
                                        <h1 class="d-inline"><strong>Hormel Foods</strong></h1>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    
    
        
    
        <!-- FOOTER -->
    

    <script>
        $("[data-toggle='tooltip']").tooltip();

        $(".slider").slick({
            arrows:true,
            infinite: true,
            slideToShow:1,
            slideToScroll:1,
            speed:1000,
            dots:true
        });
    </script>

