<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
            <a href="index.html " class="navbar-brand">
                <h3 class="d-inline align-middle">Discover MN</h3>
                <img src="img/mn-icon.png" width="50" height="50" alt="">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active px-2">
                        <a href="#" class="nav-link"><i class="fa fa-home"></i>HOME</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="#" class="nav-link"><i class="fa fa-usd-circle"></i> FORTUNE 500</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="#" class="nav-link"><i class="fa fa-map-marker"></i> PLACES TO GO</a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="#" class="nav-link"><i class="fa fa-calendar"></i> EVENTS</a>
                    </li>
                </ul>
            </div>
    </div>
</nav>

<!-- CAROUSEL SECTION -->
<section id="showcase" class="mb-5">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1" ></li>
                <li data-target="#myCarousel" data-slide-to="2" ></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item carousel-image-1 active">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block mb-5">
                            <h1 class="display-3">Stone Arch Bridge</h1>
                            <p class="lead muted">Minneapolis, MN</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-image-2">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block  mb-5">
                            <h1 class="display-3">Lake Superior Lighthouse</h1>
                            <p class="lead">Duluth, MN</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-image-3">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block text-center mb-5">
                            <h1 class="display-3">USBank Stadium</h1>
                            <p class="lead">Minneapolis, MN</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#myCarousel" data-slide="prev" class="carousel-control-prev"><span class="carousel-control-prev-icon"></span></a>
            <a href="#myCarousel" data-slide="next" class="carousel-control-next"><span class="carousel-control-next-icon"></span></a>
        </div>
    </section>

    <!-- HEADER SECTION -->
    
    <section id="header" >
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center my-5">
                    <h2><fa class="fas fa-tint"></fa></h2>
                    <h3>Spring</h3>
                    <p class="lead text-mute">Proident adipisicing aute cillum consectetur quis nostrud quis anim sint duis in. Sit reprehenderit cillum exercitation aliquip commodo nisi deserunt sunt sunt veniam. Incididunt consectetur fugiat eu voluptate.</p>
                </div>
                <div class="col-md-3 text-center my-5">
                    <h2><fa class="fas fa-sun"></fa></h2>
                    <h3>Summer</h3>
                    <p class="lead text-mute">Proident adipisicing aute cillum consectetur quis nostrud quis anim sint duis in. Sit reprehenderit cillum exercitation aliquip commodo nisi deserunt sunt sunt veniam. Incididunt consectetur fugiat eu voluptate.</p>
                </div>
                <div class="col-md-3 text-center my-5">
                    <h2><fa class="fas fa-leaf"></fa></h2>
                    <h3>Fall</h3>
                    <p class="lead text-mute">Proident adipisicing aute cillum consectetur quis nostrud quis anim sint duis in. Sit reprehenderit cillum exercitation aliquip commodo nisi deserunt sunt sunt veniam. Incididunt consectetur fugiat eu voluptate.</p>
                </div>
                <div class="col-md-3 text-center my-5">
                    <h2><fa class="fas fa-snowflake"></fa></h2>
                    <h3>Winter</h3>
                    <p class="lead text-mute">Proident adipisicing aute cillum consectetur quis nostrud quis anim sint duis in. Sit reprehenderit cillum exercitation aliquip commodo nisi deserunt sunt sunt veniam. Incididunt consectetur fugiat eu voluptate.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- VIDEO SECTION -->
    <section id="video" class="d-sm-block">
        <div class="container">
                <div class="row">
                    <div class="col-md-12 text-white mt-5">
                            <a href="#"
                            class="video"
                            data-toggle="modal"
                            data-target="#videoModal"
                            >
                            <h1><i class="fa fa-play-circle"></i></h1>
                        </a>
                        <h1>See who we are</h1>
                    </div>
                </div>
        </div>
    </section>

    <!-- PHOTO GALLERY -->

    <section id="gallery" class="py5 my-5">
        <div class="container">
            <h1 class="text-center"><strong>Photo Gallery</strong></h1>
            <p class="lead text-muted text-center">See Our Pictures</p>
            <div class="row">
                <div class="col-md-4 my-3">
                    <a href="../img/uom.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                     <img src="../img/uom.jpg" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-md-4 my-3">
                    <a href="../img/state-fair.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                     <img src="../img/state-fair.jpg" style="height:100%;width:100%"class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-md-4 my-3">
                    <a href="../img/capitol.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                     <img src="../img/capitol.jpg" style="height:100%;width:100%"class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-md-4 my-3">
                    <a href="../img/stadium.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                     <img src="../img/stadium.jpg" style="height:100%;width:100%"class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-md-4 my-3">
                    <a href="../img/kids.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                     <img src="../img/kids.jpg" style="height:100%;width:100%"class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-md-4 my-3">
                    <a href="../img/ice-castles.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                     <img src="../img/ice-castles.jpg" style="height:100%;width:100%"class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-md-4 my-3">
                    <a href="../img/lsh.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                     <img src="../img/lsh.jpg" style="height:100%;width:100%"class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-md-4 my-3">
                    <a href="../img/buck-hill.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                     <img src="../img/buck-hill.jpg" style="height:100%;width:100%"class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-md-4 my-3">
                    <a href="../img/fish.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                     <img src="../img/fish.jpg" style="height:100%;width:100%"class="img-fluid" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    

    <!-- FOOTER -->
    <footer id="footer-section" class="bg-dark mt-5">
        <div class="container">
            <div class="row  py-3">
                <div class="col text-center text-white">
                    Copyright © Discover MN
                </div>
            </div>
        </div>
    </footer>


    <!-- VIDEO MODAL -->
    <div class="modal fade" id="videoModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                    <iframe src="https://www.youtube.com/embed/i0yI4uBdfLE" height="350" width="100%" allowfullscreen frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>