$icon-size:55px;
$dark-overlay: rgba(0,0,0,0.7);
$body-background: rgb(240, 240, 240);
$active-color:rgb(255, 195, 45);

body {
    
    background-color:$body-background;

}

.navbar {
    .nav-link {
        font-size:14px;
        text-transform:uppercase;
        padding-left:1em !important;
        padding-right:1em !important;
    }

    .nav-item.active {
        border-left: $active-color 3px solid;
    }
}

.carousel-item {
    height:500px;
}

.carousel-image-1 {
    background: url("../img/stone-arch.jpg") no-repeat center;
    background-size:cover;
}
.carousel-image-2 {
    background: url("../img/light-dark.jpg") no-repeat center;
    background-size:cover;
}
.carousel-image-3 {
    background: url("../img/usbank.jpg") no-repeat center;
    background-size:cover;
}

.rh {
    border: 1px solid black;
}

#cards {

    img{
        height:250px;
        width:250px;
        border-radius: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top:-40px;
        
    }

    .card:hover{
        background-color: rgb(248, 255, 170);
    }
}


#video {
    min-height:200px;
    background: url("../img/paper.jpeg");
    background-repeat: no-repeat;
    text-align:center;
    color:$body-background;
    margin-top:20px;

    a.fa {
        font-size: 50px;
    }

}