$icon-size:55px;
$dark-overlay: rgba(0,0,0,0.7);
$body-background: rgb(240, 240, 240);
$active-color:rgb(255, 195, 45);

body {
    
    background-color:$body-background;
    overflow-x: hidden;

}

.navbar {
    .nav-link {
        font-size:14px;
        text-transform:uppercase;
        padding-left:1em !important;
        padding-right:1em !important;
    }

    .nav-item.active {
        border-left: $active-color 3px solid;
    }
}

.carousel-item {
    height:500px;
}

.carousel-image-1 {
    background: url("../img/stone-arch.jpg") no-repeat center;
    background-size:cover;
}
.carousel-image-2 {
    background: url("../img/light-dark.jpg") no-repeat center;
    background-size:cover;
}
.carousel-image-3 {
    background: url("../img/golden-horse.jpg") no-repeat center;
    background-size:cover;
}

.rh {
    border: 1px solid green;
    // background-color:red
}



#cards {

    img{
        height:250px;
        width:250px;
        border-radius: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top:-40px;
        
    }

    .card:hover{
        background-color: rgb(248, 255, 170);
    }
}


#video {
    min-height:200px;
    background: url("../img/dark-paper.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
    text-align:center;
    color:$body-background;
    margin-top:20px;
    

    a.fa {
        font-size: 50px;
    }

}

#fortune-header {
    min-height:250px;
    background: url("../img/dark-money.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    text-align:center;
    color:$body-background;
    margin-top:20px;
}


#visit-header {
    min-height:250px;
    background: url("../img/visit.jpeg") center;
    background-repeat: no-repeat;
    background-size:cover;

    text-align:center;
    color:$body-background;
    margin-top:20px;

    
}

#events-header {
    min-height:250px;
    background: url("../img/events.jpg") center;
    background-repeat: no-repeat;
    background-size:cover;

    text-align:center;
    color:$body-background;
    margin-top:20px;

    
}

#visit {
    p {
        font-size: 15px;
    }
    
    a {
        text-decoration: none;
    }
}

#visit1 {
    background: url("../img/falls.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    overflow: hidden;
    height:430px;

    .visit1 {
        height:80px;
        margin-top:350px;
        background-color: rgba(0,0,0,0.5)
    }
}

#visit1:hover {
    .visit1 {
        height:80px;
        margin-top:350px;
        background-color: rgba(0,0,0,0.7)
    }
}


#visit2 {
    background: url("../img/ice-castle.jpeg") no-repeat;
    background-position: center;
    background-size: cover;
    height:215px;
    padding:0;
    overflow: hidden;
    
    .visit2 {
        height:80px;
        margin-top:161.25px;
        background-color: rgba(0,0,0,0.5)
    }

}

#visit2:hover {
    .visit2 {
        background-color: rgba(0,0,0,0.7)
    }
}

#visit3 {
    background: url("../img/theater.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height:215px;
    padding:0;
    overflow: hidden;

    .visit3 {
        height:80px;
        margin-top:161.25px;
        background-color: rgba(0,0,0,0.5)
    }
    
}

#visit3:hover {
    .visit3 {
        background-color: rgba(0,0,0,0.7)
    }
    
}

#visit4 {
    background: url("../img/state-fair-img.jpg") no-repeat center;
    background-position-y: -100px;
    background-size: cover;
    height:350px;
    padding:0;
    overflow: hidden;

    .visit4 {
        height:80px;
        margin-top:270px;
        background-color: rgba(0,0,0,0.5)
    }
}

#visit4:hover {
    .visit4 {
        background-color: rgba(0,0,0,0.7)
    }
    
}

#visit5 {
    background: url("../img/duluth.jpg") no-repeat;
    background-position-x: -355px;
    background-size: cover;
    height:430px;
    padding:0;
    overflow: hidden;

    .visit5 {
        height:100px;
        margin-top:350px;
        background-color: rgba(0,0,0,0.5)
    }
}

#visit5:hover {
    .visit5 {
        background-color: rgba(0,0,0,0.7)
    }
    
}

#visit6 {
    background: url("../img/sea-life.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height:430px;
    padding:0;
    overflow: hidden;

    .visit6 {
        height:100px;
        margin-top:350px;
        background-color: rgba(0,0,0,0.5)
    }
}

#visit6:hover {
    .visit6 {
        background-color: rgba(0,0,0,0.7)
    }
    
}

#visit7 {
    background: url("../img/quiet.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height:430px;
    padding:0;
    overflow: hidden;

    .visit7 {
        height:100px;
        margin-top:350px;
        background-color: rgba(0,0,0,0.5)
    }
}

#visit7:hover {
    .visit7 {
        background-color: rgba(0,0,0,0.7)
    }
    
}